.Dashboard-container{
    background-color:white; /* Grey background */
    font-family: 'Nunito', sans-serif;
    width:100%;
}
/* Container for the charts */
.chart-row {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
  }
  
  /* Chart container for each chart */
  .chart-container {
    flex: 1; /* Makes both charts take equal space */
    margin: 0 10px; /* Adds spacing between the charts */
  }
  
  /* Adjust card height if needed */
  .chart-container .card {
    height: 100%;
  }
  